의미있는 고점 (눌림목 형태에서 어제 고점, 당일고가, 시가 등을 돌파할 시 알람)

.의미있는 2,3일간의 고점을 선으로 표시해준다. 

일단 시세를 준 후에는 5일선 기준으로 홀딩하면 됨 (오전장일경우)


갭하락하면 밑으로 한참 털고 나서 재차 올라올 가능성이 있기에 시가에 
바로 던지는 것이 이득이다

5% 이상 시세중인 녀석은 꼭 그룹1뿐 아니라 그룹2도 참고로 표시해줘야..

.띠용띠용 줌인 줌아웃을 하며 주봉 차트 등도 눈에 들어오게끔 장치적으로
구현한다.

.종목차트 옆에 지수대비 상대강도 표시, 점수 혹은 유턴표시틱 화살표, 지수의
대략적인 흐름을 얇은 선으로 차트 오른쪽 끝에 동그란 렌즈안에 표시해주는 식으로 보여줘도
보기좋을듯(일봉, 분봉 차트 모두 유용할 듯)

.고가를 넘는 경우(너무 자주 발생하면 차트가 지저분해줄 우려때문)강한 1차상승
2차상승 3차상승등을 숫자로 자동 분석 표시를 해주면 좋을 듯

.혹은 주봉 차트의 점수도 표시해줘서 특별히 좋으면 관찰할 수 있게끔 한다.

.거래량 표시 바탕색을 오버슈팅 영역에 관해 그라데이션으로 표현해서 매도시점을
참고/판단할 수 있게끔 한다..

.지수 무너지는데 종목은 저가안깨고 위에서 논다던지 하는 지수보다 강한 녀석들만
골라서 검색해주는 기능도 좋을 듯

.경고 종목 주의 종목 들은 오후 장종료 한참 전에 홀딩 금지 안내를 시각적으로 
확실하게 표시해주는 게 좋겠다 

.종목 뽑기모드시 일봉 옆에 마지막 하루,이틀간의 15분봉의 흐름을 축소해서
동적으로 보여주는 것도 이쁘겠다.

.강한 1분봉 (오전에 시가 돌파한다던가 눌림에서 치고 오르는 애들) 도 
실시간 안내 구현하면 좋을듯

.1분봉상 눌림급박구간에 트리거 되면 종목리스트에 배경을 다르게 한다던가
주목 차트에 자동으로 보여준다던가하고, 주목구간에 들어간 1분봉 차트부분은
배경색변화라던지 차트 색상 변화라던지 깜빡임을 준다던지 하는 애니메이션으로서
긴장감과 주목도를 높인다
	.조건들 : 일봉 거래량 양음양 괜찮다던가, 5일선에서 오후장에
고가넘는다던가.

.하스스톤처럼 매수근접 종목은 황금색 테두리, 그리고 종목 테마라든가 종목
분위기에 맞는 배경등을 꾸며줘 확실히 구분되게끔 하는 것도 좋을듯

.현재 주목해야할 종목이 있는 상태라면 프로그램 배경자체가 빨갛게 된다던지
깜빡인다던지 전체화면 테투리를 빨갛게 한다던지, 파이어폭스자체에 빨간테두리로 변화를
준다던지 해서 주의상황임을 느낄 수 있도록 긴장모드를 연출해주는 것도 좋다

.음봉 절반위에서 시작하는 녀석은 일봉상 양봉의 색깔을 그냥 붉은색이 아닌
보라색이라던지 테투리가 깜빡인다던지 내부색상이 그라데이션에니메이션이
있다던지 하는 방식으로 뭔가 다르다는 것을 표현해주면 좋다.
분봉상에서는 어제 음봉 절반가격 이상의 좌표는 배경색이라던지 그 가격대에
형성된 캔들들을 역시 내부 그라데이션이라던지 각종효과로 느낌을 확실히 주는 것이 좋다.

.거래 승률, 확률 자동 계산, 히스토리도 다 남겨서 선택해서 삭제한다거나 복기할
수 있는 기능도 넣어야

.horizontal bar 클래스도 만들어야. 종목명 옆에 키움처럼 캔들도 표시해주는..
